* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.wrap {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .wrap {
    padding: 0 8px;
  }
}

.visualy__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(1px 1px 1px 1px);
  left: -9999px;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 18px;
  padding-bottom: 19px;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__search {
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #FFFFFF;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__search:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 33px;
  padding-top: 26px;
  padding-bottom: 20px;
}

.header__burg {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-animation: pulsing 2s infinite alternate;
          animation: pulsing 2s infinite alternate;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
}

.header__burg:hover {
  fill: #F16D7F;
}

.header__register {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__register:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__cart:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (max-width: 767px) {
  .header__register, .header__cart {
    display: none;
  }
}

.burger {
  background-color: #FFFFFF;
  position: absolute;
  top: 78px;
  right: 0px;
  height: 764px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 33px;
}

.burger__box {
  position: relative;
}

.burger__btn {
  position: absolute;
  top: -20px;
  right: -17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.burger__btn:hover {
  fill: #F16D7F;
}

.burger__title {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 1px;
}

.burger__list {
  list-style-type: none;
}

.burger__link {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.burger__link:hover {
  color: #000000;
}

.burger__close {
  display: none;
}

.miniburger__list {
  list-style-type: none;
}

.miniburger__list {
  margin-top: 12px;
  margin-bottom: 20px;
}

.miniburger__item {
  padding-bottom: 11px;
}

.miniburger__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  padding-left: 21px;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.miniburger__link:hover {
  color: #F16D7F;
}

@media (max-width: 1180px) {
  .burger {
    display: none;
  }
}

.promo {
  background-color: #F1E4E6;
}

.promo__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 764px;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  background-position-x: -218px;
  background-position-y: bottom;
}

.promo__title {
  max-width: 405px;
  margin-right: 90px;
}

.promo__title h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.promo__title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__title--decor {
  color: #F16D7F;
}

@media (max-width: 1180px) {
  .promo__flex {
    height: 367px;
    background-position: 0 0;
    background-size: contain;
  }
  .promo__title {
    margin-right: 33px;
  }
  .promo__title h1 {
    font-size: 44px;
    line-height: 35px;
  }
  .promo__title--small {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 767px) {
  .promo__flex {
    background-image: none;
    height: 364px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__title h1 {
    font-size: 38px;
    line-height: 28px;
  }
  .promo__title--small {
    font-size: 20px;
    line-height: 24px;
  }
}

.categories {
  padding-top: 65px;
  margin-bottom: 96px;
}

.categories__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.categories__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.categories__item {
  background-color: #C4C4C4;
  width: 31.5%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.categories__item--women {
  background-image: url(../img/women.jpg);
  background-position: center;
}

.categories__item--men {
  background-image: url(../img/men.jpg);
  background-position: center;
}

.categories__item--kids {
  background-image: url(../img/kids.jpg);
  background-position: center;
}

.categories__item--accessories {
  background-image: url(../img/acces.jpg);
  width: 100%;
  height: 180px;
  background-position: center;
}

.categories__sales {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

@media (max-width: 1180px) {
  .categories {
    padding-top: 20px;
    margin-bottom: 154px;
  }
  .categories__flex {
    gap: 19px;
  }
  .categories__item {
    height: 167px;
  }
}

@media (max-width: 767px) {
  .categories {
    padding-top: 64px;
    margin-bottom: 64px;
  }
  .categories__flex {
    gap: 32px;
  }
  .categories__item {
    width: 100%;
    height: 247px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  }
  .categories__item--accessories {
    height: 111px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
  }
}

.products {
  margin-bottom: 96px;
}

.products__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__text {
  margin-bottom: 48px;
}

.products__text h2 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.products__text p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.products__link {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px;
  border: 1px solid #F26376;
  background-color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.products__link:hover {
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
  -webkit-animation: rotate-scale-up 0.65s linear 3 both;
          animation: rotate-scale-up 0.65s linear 3 both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.goods {
  margin-top: 64px;
}

.goods__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commodity {
  margin-top: 128px;
  margin-bottom: 128px;
}

.container {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 360px;
  background-color: #F8F8F8;
  position: relative;
  overflow: hidden;
}

.card:hover .card__overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card__img {
  padding-bottom: 25px;
}

.card__text--link {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  padding-left: 17px;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.card__text--link:hover {
  color: #F16D7F;
}

.card__text p {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 18px;
  max-width: 315px;
}

.card .price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 18px;
  padding-bottom: 20px;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(58, 56, 56, 0.86);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.card__btn {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  fill: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transition: 1s;
  transition: 1s;
}

.card__btn svg {
  vertical-align: middle;
  margin-right: 11px;
}

.card__btn:hover {
  background-color: #FFFFFF;
  color: #000000;
  fill: #000000;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (max-width: 1180px) {
  .container {
    gap: 16px;
  }
  .products {
    margin-bottom: 64px;
  }
  .products__item {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .products {
    margin-bottom: 96px;
  }
  .products__item {
    margin-top: 41px;
  }
}

.advantages {
  background-color: #222224;
}

.advantages__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item {
  max-width: 360px;
  padding-top: 163px;
}

.advantages__item--delivery {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 130px;
}

.advantages__item--discount {
  background-image: url(../img/discount.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 126px;
}

.advantages__item--warranty {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 130px;
}

.advantages__item h3 {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 16px;
}

.advantages__item p {
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
  padding-bottom: 104px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 25px;
}

@media (max-width: 1180px) {
  .advantages__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    padding-top: 108px;
    background-position-y: 48px;
  }
  .advantages__item p {
    padding-bottom: 0px;
  }
  .advantages__item .dec {
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .advantages__item .dec {
    padding-bottom: 81px;
  }
}

.feedback {
  background-color: #D73C3C;
  background-image: url(../img/fon_feedback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 155px;
  background-position: left bottom;
  position: relative;
}

.feedback__overlay {
  position: absolute;
  background-color: rgba(244, 244, 244, 0.7);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.feedback__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__text {
  background-image: url(../img/face.png);
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-top: 120px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  max-width: 360px;
}

.feedback__text--italic {
  font-style: italic;
}

.feedback__right h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.feedback__right--small {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.feedback__unification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
}

.feedback__field {
  padding: 20px 55px;
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.feedback__field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  opacity: 0.67;
}

.feedback__field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0.67;
}

.feedback__field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0.67;
}

.feedback__field::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.67;
}

.feedback__btn {
  background-color: #F16D7F;
  padding: 20px 20px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.feedback__btn:hover {
  background-color: #E05C6E;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

@media (max-width: 1180px) {
  .feedback {
    padding-top: 100px;
    padding-bottom: 130px;
    background-position: -250px 0px;
    padding-top: 64px;
  }
  .feedback__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__text {
    padding-bottom: 48px;
  }
  .feedback__unification {
    padding-top: 27px;
  }
}

@media (max-width: 767px) {
  .feedback {
    background-position: -475px 0px;
  }
  .feedback__right h3 {
    line-height: 37px;
  }
  .feedback__right--small {
    font-size: 14px;
    line-height: 21px;
  }
  .feedback__unification {
    padding-top: 22px;
  }
  .feedback__field {
    padding: 20px 40px;
  }
}

.benefits {
  background-color: #F8F3F4;
}

.benefits__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__title {
  padding-top: 59px;
  padding-bottom: 60px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.breadcrumbs__item::before {
  content: '/';
  margin-right: 5px;
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.breadcrumbs__link--current {
  font-weight: bold;
  color: #F16D7F;
}

.breadcrumbs__link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.dropouts {
  margin-top: 39px;
}

.dropouts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.dropdown {
  padding-top: 65px;
  padding-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
}

.fashionable {
  position: relative;
  width: 132px;
}

.fashionable__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.fashionable__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.fashionable__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.fashionable__item:hover {
  color: #F16D7F;
}

.fashionable__item:first-child {
  padding-top: 7px;
}

.fashionable__item:last-child {
  padding-bottom: 11px;
}

.parameter {
  position: relative;
  width: 49px;
}

.parameter__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.parameter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.parameter__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.parameter__item:hover {
  color: #F16D7F;
}

.parameter__item:first-child {
  padding-top: 7px;
}

.parameter__item:last-child {
  padding-bottom: 11px;
}

.cost {
  position: relative;
  width: 59px;
}

.cost__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.cost__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.cost__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.cost__item:hover {
  color: #F16D7F;
}

.cost__item:first-child {
  padding-top: 7px;
}

.cost__item:last-child {
  padding-bottom: 11px;
}

.filter {
  width: 360px;
  position: relative;
}

.filter__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 13px 16px 13px 16px;
  display: block;
  cursor: pointer;
}

.filter__title svg {
  margin-left: 11px;
}

.filter__content {
  background-color: #FFFFFF;
  padding: 0px 16px 16px 16px;
  position: absolute;
  width: 360px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__rank {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 11px;
  cursor: pointer;
}

.filter__item {
  list-style-type: none;
  padding-bottom: 11px;
  padding-left: 18px;
}

.filter__item:first-child {
  padding-top: 24px;
}

.filter__item:last-child {
  padding-bottom: 24px;
}

.filter__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.filter__link:hover {
  color: #F16D7F;
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__title {
  color: #EF5B70;
  fill: #EF5B70;
  background-color: #FFFFFF;
  position: relative;
  z-index: 10001;
}

::-webkit-details-marker {
  display: none;
}

.filtrate[open] .filter__rank {
  color: #EF5B70;
}

.color {
  position: relative;
  width: 129px;
}

.color__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.color__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.color__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.color__item:hover {
  color: #F16D7F;
}

.color__item:first-child {
  padding-top: 7px;
}

.color__item:last-child {
  padding-bottom: 11px;
}

.cize {
  position: relative;
  width: 110px;
}

.cize__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.cize__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.cize__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.cize__item:hover {
  color: #F16D7F;
}

.cize__item:first-child {
  padding-top: 7px;
}

.cize__item:last-child {
  padding-bottom: 11px;
}

.quantity {
  position: relative;
  width: 91px;
}

.quantity__title {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  margin-bottom: 5px;
}

.quantity__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 16px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.quantity__item {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  cursor: pointer;
}

.quantity__item:hover {
  color: #F16D7F;
}

.quantity__item:first-child {
  padding-top: 7px;
}

.quantity__item:last-child {
  padding-bottom: 11px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  padding-bottom: 96px;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  padding: 10px;
}

.pagination__link {
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
  border: none;
  background-color: #FFFFFF;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transition: 1s;
  transition: 1s;
}

.pagination__link:hover {
  cursor: pointer;
  color: #F16D7F;
  fill: #F16D7F;
  -webkit-transform: scale(2) rotateX(360deg);
          transform: scale(2) rotateX(360deg);
}

.pagination__link--active {
  color: #F16D7F;
}

.pagination__item--separator {
  margin: 0 -10px;
  color: #EBEBEB;
}

.pagination__item--separator:hover {
  cursor: pointer;
  color: #F16D7F;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
  padding-bottom: 65px;
}

.slider__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__btn {
  fill: #000000;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.slider__btn:hover {
  fill: #F16D7F;
  background-color: gray;
  cursor: pointer;
}

.description__flex {
  margin-top: -65px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__text h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64px;
  padding-bottom: 12px;
}

.description__text h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
  padding-bottom: 48px;
}

.description__text p {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  max-width: 555px;
  padding-bottom: 32px;
}

.description__text .price {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-bottom: 65px;
}

.description__border {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
}

.description__streak {
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
}

.description__btn {
  background-color: transparent;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  fill: #F26376;
  text-decoration: none;
  padding: 10px 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.description__btn svg {
  margin-right: 23px;
  vertical-align: middle;
}

.description__btn:hover {
  background-color: #F26376;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.description__btn:active {
  background-color: chocolate;
  color: #000000;
  fill: #000000;
  border: 1px solid red;
}

.basket__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.ticket:first-child {
  margin-bottom: 40px;
  margin-top: 96px;
}

.ticket img {
  vertical-align: middle;
}

.ticket__close {
  position: absolute;
  top: 28px;
  right: 22px;
  background-color: transparent;
  border: none;
  color: #575757;
  font-size: 27px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.ticket__close:hover {
  color: #F16D7F;
}

.ticket__field {
  border: 1px solid #EAEAEA;
  width: 30px;
  margin-left: 24px;
  padding: 1px 10px;
  color: #656565;
}

.ticket__text {
  padding: 22px 22px 40px 31px;
  width: 390px;
}

.ticket__text h3 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

.ticket__text p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.ticket__text p:not(:last-child) {
  padding-bottom: 6px;
}

.ticket__text--decor {
  color: #F16D7F;
}

.ticket__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 193px;
  margin-top: 72px;
  margin-bottom: 128px;
}

.ticket__title {
  padding: 16px 34px;
  background-color: #FFFFFF;
  border: 1px solid #a4a4a4;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.ticket__title:hover {
  background-color: #000000;
  color: #FFFFFF;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.regform-wrapper {
  display: block;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.regform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-top: 113px;
}

.regform__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.regform__field {
  padding: 14px 150px 14px 16px;
  margin-bottom: 22px;
}

.regform__field::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regform__field:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regform__field::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regform__field::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regform__btn {
  background-color: transparent;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 15px;
  width: 100px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.regform__btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.total-price {
  background: #F5F3F3;
  margin-top: 57px;
  padding: 39px 39px 42px 39px;
}

.total-price h3 {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  padding-bottom: 12px;
}

.total-price p {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
  text-align: right;
  padding-bottom: 21px;
}

.total-price--decoration {
  margin-left: 25px;
}

.total-price--decor {
  color: #F16D7F;
  margin-left: 25px;
  font-weight: bold;
}

.total-price__border {
  border: 1px solid  #E2E2E2;
  margin-bottom: 17px;
}

.total-price__btn {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.total-price__btn:hover {
  color: #F16D7F;
  background-color: #000000;
}

.footer {
  background-color: #222222;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 7px;
  padding: 0;
  cursor: pointer;
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

.network__link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media (max-width: 767px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__copyright {
    padding-top: 40px;
    padding-bottom: 9px;
  }
  .network {
    margin-top: 43px;
  }
}

.application-form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 128px;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.communication h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.communication__title {
  margin-top: 64px;
}

.communication p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.communication__field {
  width: 360px;
  padding: 12px 16px 15px 16px;
  margin-top: 21px;
}

.communication__field::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.communication__field:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.communication__field::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.communication__field::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.communication__radio {
  border: none;
  margin-top: 31px;
  margin-bottom: 33px;
}

.communication__btn {
  background-color: #F16D7F;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 167px;
  padding: 16px 29px;
  margin-bottom: 96px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, fill 0.3s;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.communication__btn:hover {
  color: #F16D7F;
  background-color: #000000;
}

.communication__btn .decor {
  margin-left: 20px;
}

.privilege {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.privilege h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 64px;
}

.privilege p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
  margin-top: 22px;
}

.privilege__list {
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-left: 30px;
}

.privilege__item {
  background-image: url(../img/privilege__icon.svg);
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */