// переменные 
@import "var";

// миксины
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 2;
}

.wrap {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.visualy__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px 1px 1px 1px);
    left: -9999px;
}

// шапка
@import "blocks/header";
// бургер меню
@import "blocks/burger-menu";
// промо
@import "blocks/promo";
// категории
@import "blocks/categories";
// карточки товаров
@import "blocks/products";
// преимущества
@import "blocks/advantages";
// обратная связь
@import "blocks/feedback";
// бенефис
@import "blocks/benefits";
// хлебные крошки
@import "blocks/breadcrumbs";
// фильтр и выпадающие элементы
@import "blocks/filter";
// пагинация
@import "blocks/pagination";
// слайдер
@import "blocks/slider";
// описание
@import "blocks/description";

// футер 
@import "blocks/footer";


// корзина

.basket__flex {
    @include flex-center(center, space-between);
}

.ticket {
    position: relative;
    @include flex-center(center, flex-start);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-bottom: 40px;

    & img {
        vertical-align: middle;
    }

    &__close {
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: transparent;
        border: none;
        color: #575757;
    }

    &__text {
        padding: 22px 22px 40px 31px;
        width: 390px;

        & h3 {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            padding-bottom: 42px;
        }

        & p {
            font-size: 22px;
            line-height: 26px;
            color: #575757;

            &:not(:last-child) {
                padding-bottom: 6px;
            }
        }

        &--decor {
            color: $main-Color;
        }
    }

    &__btn {
        @include flex-center(center, flex-start);
        gap: 193px;
        margin-top: 72px;
        margin-bottom: 128px;
    }

    &__title {
        padding: 16px 34px;
        background-color: #FFFFFF;
        border: 1px solid #A4A4A4;
        font-size: 14px;
        line-height: 17px;
        color: #000000
    }
}

.regform {
    display: flex;
    flex-direction: column;
    width: 360px;

    &__field {
        padding: 14px 150px 14px 16px;

        &::placeholder {
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
    }
}