// переменные 
@import "var";

// миксины
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 2;
}

.wrap {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.visualy__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px 1px 1px 1px);
    left: -9999px;
}

// шапка
@import "blocks/header";
// бургер меню
@import "blocks/burger-menu";
// промо
@import "blocks/promo";
// категории
@import "blocks/categories";
// карточки товаров
@import "blocks/products";
// преимущества
@import "blocks/advantages";
// обратная связь
@import "blocks/feedback";
// бенефис
@import "blocks/benefits";
// хлебные крошки
@import "blocks/breadcrumbs";
// фильтр и выпадающие элементы
@import "blocks/filter";
// пагинация
@import "blocks/pagination";
// слайдер
@import "blocks/slider";
// описание
@import "blocks/description";
// корзина, итоговая цена, форма регистрации
@import "blocks/basket";
// футер 
@import "blocks/footer";


.application-form__flex {
    @include flex-center(center, space-between);
    gap: 128px;
}

.communication {
    display: flex;
    flex-direction: column;

    & h3 {
        font-weight: 300;
        @include medium(#222222);
    }

    &__title {
        margin-top: 64px;
    }

    & p {
        font-weight: 300;
        @include tiny(#B1B1B1);
        margin-top: 15px;
        margin-bottom: 39px;
    }

    &__field {
        width: 360px;
        padding: 12px 16px 15px 16px;
        margin-top: 21px;

        &::placeholder {
            font-weight: 300;
            @include tiny(#B1B1B1);
        }
    }

    &__radio {
        border: none;
        margin-top: 31px;
        margin-bottom: 33px;
    }

    &__btn {
        background-color: $main-Color;
        border: none;
        @include smallest(#FFFFFF);
        width: 167px;
        padding: 16px 29px;
        margin-bottom: 96px;
        cursor: pointer;
        @include transform;

        &:hover {
            color: $main-Color;
            background-color: #000000;
        }

        & .decor {
            margin-left: 20px;
        }
    }
}

.privilege {
    display: block;
    align-self: flex-start;

    & h3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 64px;
    }

    & p {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 21px;
        margin-top: 22px;
    }

    &__list {
        list-style-type: none;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-left: 30px;
    }

    &__item {
        background-image: url(../img/privilege__icon.svg);
        background-repeat: no-repeat;
        // background-position: -10px;
        margin-bottom: 16px;
    }
}