* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 2;
}

.wrap {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.visualy__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px 1px 1px 1px);
    left: -9999px;
}

.header {
    background-color: #222222;
}

.header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 19px;
}

.header__logo {
    margin-right: 41px;
    text-decoration: none;
}

.header__logo:hover {
    opacity: 0.7;
}

.header__search {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__search:hover {
    opacity: 0.7;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
    padding-top: 26px;
    padding-bottom: 20px;
}

.header__burg {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__burg:hover {
    opacity: 0.7;
}

.header__register:hover {
    opacity: 0.7;
}

.header__cart:hover {
    opacity: 0.7;
}

.benefits {
    background-color: #F8F3F4;
    margin-bottom: 51px;
}

.benefits__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits__title {
    padding-top: 59px;
    padding-bottom: 60px;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs {

}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.breadcrumbs__item::before {
  content: '/';
  margin-right: 5px;
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  /* transition: 0.2s; */
}

.breadcrumbs__link--current {
  font-weight: bold;
  color: #F16D7F;
}

.breadcrumbs__link[href]:hover {
  /* text-decoration: underline;
  color: #F16D7F; */
  opacity: 0.7;
}

.filter {
    width: 360px;
    position: relative;
    outline: none;
    border: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details > summary {
    list-style: none;
}

.filter[open] {
    padding-left: 34px;
    background-color: #FFFFFF;
    /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
}

.filter[open]>summary {
    color: #EF5B70;
}

.filter__content {
    position: absolute;
    background-color: #FFFFFF;
    width: 360px;
    left: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__list {
    
}

.filter__item {
    list-style-type: none;
    padding-bottom: 11px;
}

.filter__link {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.promo {
    background-color: #F1E4E6;
}

.promo__flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 764px;
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position-x: -218px;
    background-position-y: bottom;
}

.promo__title {
    max-width: 405px;
    margin-right: 90px;
}

.promo__title h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    padding-left: 16px;
    border-left: 12px solid#F16D7F;
}

.promo__title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__title--decor {
    color: #F16D7F;
}

.category {
    padding-top: 65px;
    margin-bottom: 96px;
}

.category__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.categories__item {
    background-color: #C4C4C4;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories__item--women {
    background-image: url(../img/maska_woman.jpg);
}

.categories__item--men {
    background-image: url(../img/maska_man.jpg);
}

.categories__item--kids {
    /* background-image: url(../img/maska_kids.jpg); */
}

.categories__item--accessories {
    background-image: url(../img/maska_acc.jpg);
    width: 100%;
    height: 180px;
}

.categories__sales {
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
}

.categories__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
}

.products {
    margin-bottom: 96px;
}

.products__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__text {
    margin-bottom: 48px;
}

.products__text h2 {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    padding-bottom: 6px;
}

.products__text p {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.products__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.products__link {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px;
    border: 1px solid #FF6A6A;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
}

.products__link:hover {
    background-color: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}


.container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    max-width: 360px;
    background-color: #F8F8F8;
}

.card__text h3 {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 12px;
}

.card__text p {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 16px;
    padding-bottom: 18px;
    max-width: 315px;
}

.card__text .price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-bottom: 20px;
}

.goods {
    margin-top: 64px;

}

.goods__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination {
	display: flex;
	justify-content: center;
	padding-top: 48px;
    padding-bottom: 96px;
}

.pagination__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 13px;	
	border: 1px solid #EBEBEB;
	border-radius: 2px;
	padding: 10px;
}

.pagination__item--separator {
	margin: 0 -10px;
	color: #EBEBEB;
}

.pagination__link {
	color: #EBEBEB;
    border: none;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.pagination__link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.pagination__link--active {
	color: #EF5B70;
}

.advantages {
    background-color: #222224;
}

.advantages__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.advantages__item {
    max-width: 360px;
    padding-top: 163px;
}

.advantages__item--delivery {
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 130px;
}

.advantages__item--discount {
    background-image: url(../img/discount.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 126px;
}

.advantages__item--warranty {
    background-image: url(../img/warranty.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 130px;
}

.advantages__item h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 28px;
    padding-bottom: 16px;
}

.advantages__item p {
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-bottom: 104px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 25px;
}

.feedback {
    background-color: #D73C3C;
    background-image: url(../img/fon_feedback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 155px;
    background-position: left bottom;
}

.feedback__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__img {
    padding-bottom: 30px;
    text-align: center;
}

.feedback__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    max-width: 360px;
}

.feedback__text--italic {
    font-style: italic;
}

.feedback__right h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224
}

.feedback__right--small {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}

.feedback__unification {
    display: flex;
    padding-top: 22px;
}

.feedback__field {
    padding: 15px 55px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

.feedback__field::placeholder {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.feedback__btn {
    background-color: #F16D7F;
    padding: 15px 20px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


.footer {
    background-color: #222222;
}

.footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.network {
  
}

.network__list {
    display: flex;
    list-style-type: none;
    gap: 7px;
    padding: 0;
    cursor: pointer;
}

.network__link {
    color: #000000;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.network__link:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}