// переменные 
@import "var";

// миксины
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 2;
}

.wrap {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.visualy__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px 1px 1px 1px);
    left: -9999px;
}

// шапка
@import "blocks/header";
// бургер меню
@import "blocks/burger-menu";
// промо
@import "blocks/promo";
// категории
@import "blocks/categories";
// карточки товаров
@import "blocks/products";
// преимущества
@import "blocks/advantages";
// обратная связь
@import "blocks/feedback";
// бенефис
@import "blocks/benefits";
// хлебные крошки
@import "blocks/breadcrumbs";
// фильтр и выпадающие элементы
@import "blocks/filter";
// пагинация
@import "blocks/pagination";
// слайдер
@import "blocks/slider";
// описание
@import "blocks/description";
// корзина, итоговая цена, форма регистрации
@import "blocks/basket";
// футер 
@import "blocks/footer";

