.advantages {
    background-color: #222224;

    &__flex {
        @include flex-center(center, space-around);
    }

    &__item {
        max-width: 360px;
        padding-top: 163px;

        &--delivery {
            background-image: url(../img/delivery.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 130px;
        }

        &--discount {
            background-image: url(../img/discount.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 126px;
        }

        &--warranty {
            background-image: url(../img/warranty.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 130px;
        }

        & h3 {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FBFBFB;
            padding-top: 28px;
            padding-bottom: 16px;
        }

        & p {
            font-size: 13.972px;
            line-height: 17px;
            text-align: center;
            color: #FBFBFB;
            padding-bottom: 104px;
            font-weight: 300;
            padding-left: 20px;
            padding-right: 25px;
        }
    }
}
