.advantages {
    background-color: #222224;

    &__flex {
        @include flex-center(center, space-around);
    }

    &__item {
        max-width: 360px;
        padding-top: 163px;

        &--delivery {
            background-image: url(../img/delivery.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 130px;
        }

        &--discount {
            background-image: url(../img/discount.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 126px;
        }

        &--warranty {
            background-image: url(../img/warranty.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 130px;
        }

        & h3 {
            @include big(#FBFBFB);
            text-align: center;
            padding-top: 28px;
            padding-bottom: 16px;
        }

        & p {
            @include smallest(#FBFBFB);
            text-align: center;
            padding-bottom: 104px;
            font-weight: 300;
            padding-left: 20px;
            padding-right: 25px;
        }
    }
}

// планшет
@media(max-width: $tablet-breakpoint) {
    .advantages__flex {
        flex-direction: column;
    }

    .advantages__item {
        padding-top: 108px;
        background-position-y: 48px;

        & p {
            padding-bottom: 0px;
        }

        & .dec {
            padding-bottom: 64px;
        }
    }
}

// мобильный
@media(max-width: $mobile-breakpoint) {
    .advantages__item {
        
        & .dec {
            padding-bottom: 81px;
        }
    }
}
