.basket {
    margin-top: 96px;

    &__flex {
        @include flex-center(center, center);
        gap: 128px;
    }
}


//  карточки
.ticket {
    position: relative;
    @include flex-center(center, flex-start);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    &:first-child {
        margin-bottom: 40px;
    }

    & img {
        vertical-align: middle;
    }

    &__close {
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: transparent;
        border: none;
        color: #575757;
        font-size: 27px;
        cursor: pointer;
        @include transform;

        &:hover {
            color: $main-Color;
        }
    }

    &__field {
        border: 1px solid #EAEAEA;
        width: 30px;
        margin-left: 24px;
        padding: 1px 10px;
        color: #656565;
    }

    &__text {
        padding: 22px 22px 40px 31px;
        width: 390px;

        & h3 {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            padding-bottom: 42px;
            text-transform: uppercase;
        }

        & p {
            font-size: 22px;
            line-height: 26px;
            color: #575757;

            &:not(:last-child) {
                padding-bottom: 6px;
            }
        }

        &--decor {
            color: $main-Color;
        }
    }

    &__btn {
        @include flex-center(center, space-between);
        margin-top: 72px;
        margin-bottom: 128px;
    }

    &__title {
        padding: 16px 34px;
        background-color: #FFFFFF;
        border: 1px solid #a4a4a4;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        @include transform;

        &:hover {
            background-color: #000000;
            color: #FFFFFF;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//  форма регистрации

.regform-wrapper {
    display: block;
    align-self: start;
}

.regform {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__field {
        padding: 14px 15px 14px 16px;
        margin-bottom: 22px;
        cursor: pointer;

        &:hover {
            background-color: $main-Color;
        }

        &::placeholder {
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
    }

    &__btn {
        background-color: transparent;
        border: 1px solid #A4A4A4;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding: 10px 15px;
        cursor: pointer;
        @include transform;
        width: 100px;
        text-transform: uppercase;

        &:hover {
            background-color: $main-Color;
            color: #FFFFFF;
        }
    }
}

//  итоговая цена

.total-price {
    background: #F5F3F3;
    margin-top: 57px;
    padding: 39px 39px 42px 39px;
    text-transform: uppercase;

    & h3 {
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        text-align: right;
        padding-bottom: 12px
    }

    & p {
        @include medium(#222222);
        font-weight: 300;
        text-align: right;
        padding-bottom: 21px;
    }

    &--decoration {
        margin-left: 25px;
    }

    &--decor {
        color: $main-Color;
        margin-left: 25px;
        font-weight: bold
    }

    &__border {
        border: 1px solid #E2E2E2;
        margin-bottom: 17px;
    }

    &__btn {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background-color: $main-Color;
        border: none;
        padding: 15px 40px;
        cursor: pointer;
        @include transform;

        &:hover {
            color: $main-Color;
            background-color: #000000;
        }
    }
}

// планшет
@media(max-width: $tablet-breakpoint) {

    .basket {
        margin-top: 59px;

        &__flex {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .ticket__btn {
        justify-content: center;
        gap: 49px;
        margin-top: 62px;
        margin-bottom: 64px;
    }


    .regform-wrapper {
        display: flex;
        gap: 15px;
        margin-bottom: 128px;
    }

    .regform {
        margin-top: 0px;
    }

    .total-price {
        margin-top: 39px;
    }
}

// мобильный
@media(max-width: $mobile-breakpoint) {
    .basket {
        margin-top: 39px;
    }

    .ticket__img {
        & img {
            width: 143px;
            height: 188px;
        }
    }

    .ticket__text {
        padding: 15px;
        width: 214px;

        & h3 {
            @include medium(#222222);
            padding-bottom: 25px;
        }

        & p {
            @include smallest(#575757);

            &:not(:last-child) {
                padding-bottom: 4px;
            }
        }

        &--decor {
            color: $main-Color;
        }
    }

    .ticket:first-child {
        margin-bottom: 32px;
    }

    .ticket__btn {
        gap: 9px;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .ticket__title {
        font-size: 12px;
        line-height: 14px;
        text-transform: none;
    }

    .ticket__close {
        font-size: 17px;
    }

    .regform-wrapper {
        flex-wrap: wrap;
        margin-bottom: 96px;
        justify-content: center;
    }
}