.benefits {
    background-color: #F8F3F4;

    &__flex {
        @include flex-center(center, space-between);
    }

    &__title {
        padding-top: 59px;
        padding-bottom: 60px;
        font-size: $font-size;
        line-height: $font-size + 5;
        color: $main-Color;
        text-transform: uppercase;
    }

    &__caption {
        padding-top: 59px;
        padding-bottom: 60px;
        font-size: $font-size;
        line-height: $font-size + 5;
        color: $main-Color;
        text-transform: uppercase;
    }
}

// планшет
@media(max-width: $tablet-breakpoint) {
  
}

// мобильный
@media(max-width: $mobile-breakpoint) {
    .benefits__flex {
        flex-direction: column;
    }

    .benefits__title {
        padding-top: 24px;
        padding-bottom: 32px;
    }
}