.pagination {
    @include flex-center(center, center);
    padding-top: 48px;
    padding-bottom: 96px;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 13px;
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding: 10px;
    }

    &__link {
        @include medium(#EBEBEB);
        border: none;
        background-color: #FFFFFF;
        font-weight: 300;
        text-decoration: none;
        @include transform;
        transition: 1s;

        &:hover {
            cursor: pointer;
            color: $main-Color;
            fill: $main-Color;
            transform: scale(2) rotateX(360deg);
        }

        &--active {
            color: $main-Color;
        }
    }

    &__item--separator {
        margin: 0 -10px;
        color: #EBEBEB;

        &:hover {
            cursor: pointer;
            color: $main-Color;
        }
    }
}


// планшет
@media(max-width: $tablet-breakpoint) {
    .pagination {
        padding-top: 40px;
        padding-bottom: 63px;
    }
}

// мобильный
@media(max-width: $mobile-breakpoint) {}