.promo {
    background-color: #F1E4E6;

    &__flex {
        @include flex-center(center, flex-end);
        height: 764px;
        background-image: url(../img/man.png);
        background-repeat: no-repeat;
        background-position-x: -218px;
        background-position-y: bottom;
    }

    &__title {
        max-width: 405px;
        margin-right: 90px;

        & h1 {
            font-weight: 900;
            font-size: 48px;
            line-height: 40px;
            color: #222222;
            text-transform: uppercase;
            padding-left: 16px;
            border-left: 12px solid $main-Color;
        }

        &--small {
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #222222;
        }

        &--decor {
            color: $main-Color;
        }
    }
}

// планшет
@media(max-width: $tablet-breakpoint) {
    .promo__flex {
        height: 367px;
        background-position: 0 0;
        background-size: contain;
    }

    .promo__title {
        margin-right: 33px;

        & h1 {
            font-size: 44px;
            line-height: 35px;
        }

        &--small {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

// мобильный
@media(max-width: $mobile-breakpoint) {
    .promo__flex {
        background-image: none;
        height: 364px;
        justify-content: center;
    }
    .promo__title {

        & h1 {
            font-size: 38px;
            line-height: 28px;
        }

        &--small {
            font-size: 20px;
            line-height: 24px;
        }
    }
}