.products {
    margin-bottom: 96px;

    &__flex {
        @include flex-center(center, center);
        flex-direction: column;
    }

    &__text {
        margin-bottom: 48px;

        & h2 {
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            text-align: center;
            padding-bottom: 6px;
        }

        & p {
            @include smallest(#9F9F9F);
            text-align: center;
        }
    }

    &__item {
        @include flex-center(center, center);
        margin-top: 48px;
    }

    &__link {
        @include medium(#F26376);
        padding: 14px 38px;
        border: 1px solid #F26376;
        background-color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        @include transform;
        // transition: 0.3s;

        &:hover {
            background-color: #F16D7F;
            border: 1px solid #FF6A6A;
            color: #FFFFFF;
            // transform: rotate(1080deg);
            animation: rotate-scale-up 0.65s linear 3 both;

            @keyframes rotate-scale-up {
                0% {
                    transform: scale(1) rotateZ(0);
                }

                50% {
                    transform: scale(2) rotateZ(180deg);
                }

                100% {
                    transform: scale(1) rotateZ(360deg);
                }
            }
        }
    }
}

.goods {
    margin-top: 64px;

    &__flex {
        @include flex-center(center, center);
        flex-direction: column;
    }
}

.commodity {
    margin-top: 128px;
    margin-bottom: 128px;
}

.container {
    max-width: 1140px;
    width: 100%;
    @include flex-center(center, center);
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    max-width: 360px;
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden;

    &:hover .card__overlay {
        transform: scale(1);
    }

    &__img {
        padding-bottom: 25px;
    }

    &__text--link {
        @include tiny(#000000);
        text-decoration: none;
        padding-left: 17px;
        @include transform;

        &:hover {
            color: $main-Color;
        }
    }

    &__text p {
        @include smallest(#5D5D5D);
        padding-left: 16px;
        padding-top: 12px;
        padding-bottom: 18px;
        max-width: 315px;
    }

    & .price {
        @include medium($main-Color);
        padding-left: 18px;
        padding-bottom: 20px;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 420px;
        @include flex-center(center, center);
        background-color: rgba(58, 56, 56, 0.86);
        transform: scale(0);
        transition: 2s;
        transform-origin: bottom right;
    }

    &__btn {
        border: 1px solid #FFFFFF;
        background-color: transparent;
        @include smallest(#FFFFFF);
        fill: #FFFFFF;
        padding: 10px 20px;
        cursor: pointer;
        @include transform;
        transition: 1s;

        & svg {
            vertical-align: middle;
            margin-right: 11px;
        }

        &:hover {
            background-color: #FFFFFF;
            color: #000000;
            fill: #000000;
            transform: rotateY(360deg);
        }
    }
}

// планшет
@media(max-width: $tablet-breakpoint) {
    .container {
        gap: 16px;
    }

    .products {
        margin-bottom: 64px;

        &__item {
            margin-top: 32px;
        }
    }

    .goods {
        margin-top: 40px;
    }
}

// мобильный
@media(max-width: $mobile-breakpoint) {
    .products {
        margin-bottom: 96px;

        &__item {
            margin-top: 41px;
        }
    }

    .goods {
        margin-top: 32px;
    }
}
